# Authentication
GOOGLE_ID=453355536244-m56l594q0oc131jbd9ac5lsb2722cofn.apps.googleusercontent.com
GOOGLE_SECRET=X8FnwcylzxS3wx6ddoa6z4l6
NEXTAUTH_URL=http://localhost:3000

# Stripe
STRIPE_PUBLIC_KEY=key_goes_here
STRIPE_SECRET_KEY=key_goes_here

# Stripe Terminal/CLI
STRIPE_SIGNING_SECRET=key_goes_here

HOST=http://localhost:3000

# Need to add this to... google cloud
# http://localhost:3000/api/auth/callback/google